{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://github.com/Matheus1237" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/github-logo.png' %}" alt="ícone github">
        </a>
        <a href="https://www.linkedin.com/in/matheus-antunes-717ab42b4/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/linkedin.png' %}" alt="ícone linkedin">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Matheus</p>
</footer>